In [8]:
############################################################
###    Score Decision Deployed to a Container by API     ###
############################################################

from requests import request
import requests
import http
import json
import pandas as pd
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

In [9]:
###################################
###    Connect to Container     ###
###################################

# The container needs to be running when the code is executed
# SCR listens on port 8080
# Use the containers fully qualified domain name (FQDN)
# Ensure the container instance is set up as 'public' (no credentials required)
# URL is the name of the container image to be used
# Helpful video: https://communities.sas.com/t5/SAS-Communities-Library/How-to-Score-a-SAS-Decision-Published-to-Azure-with-SCR/ta-p/777629

conn = http.client.HTTPConnection("financialservicesdecision.eastus.azurecontainer.io:8080")
url = "/financial_services_decision"

In [3]:
####################################
### Score Decision as a Function ###
####################################

def score_container(age, amount, at_current_job_1_year, business_owner, citizenship_africa, citizenship_china, citizenship_eu, citizenship_india, citizenship_latam,
                citizenship_middle_east, citizenship_other, citizenship_us, credit_history_mos, credit_score, debt_to_income, ever_missed_obligation, gender,
                 homeowner, id_current_fs_relationship, id_direct_contact, id_important_activity, job_in_education, job_in_energy, job_in_financial, 
                  job_in_healthcare, job_in_hospitality, job_in_manufacturing, job_in_media, job_in_transport, martial_status_divorced, marital_status_married, 
                   marital_status_single, net_worth, num_dependents, num_transactions, orig_age, orig_amount, orig_credit_history_mos, orig_credit_score,
                    orig_debt_to_income, orig_net_worth, orig_num_transactions, orig_years_at_residence, region_ca, region_fl, region_mw, region_ne, region_ny,
                     region_so, region_tx, region_we, smoker, uses_direct_deposit, years_at_residence):
    payload = '{"inputs":[ {"name":"age", "value":' + str(age) + '}, \
                    {"name":"amount", "value":' + str(amount) + '}, \
                    {"name":"at_current_job_1_year", "value":' + str(at_current_job_1_year) + '}, \
                    {"name":"business_owner", "value":' + str(business_owner) + '}, \
                    {"name":"citizenship_africa", "value":' + str(citizenship_africa) + '}, \
                    {"name":"citizenship_china", "value":' + str(citizenship_china) + '}, \
                    {"name":"citizenship_eu", "value":' + str(citizenship_eu) + '}, \
                    {"name":"citizenship_india", "value":' + str(citizenship_india) + '}, \
                    {"name":"citizenship_latam", "value":' + str(citizenship_latam) + '}, \
                    {"name":"citizenship_middle_east", "value":' + str(citizenship_middle_east) + '}, \
                    {"name":"citizenship_other", "value":' + str(citizenship_other) + '}, \
                    {"name":"citizenship_us", "value":' + str(citizenship_us) + '}, \
                    {"name":"credit_history_mos", "value":' + str(credit_history_mos) + '}, \
                    {"name":"credit_score", "value":' + str(credit_score) + '}, \
                    {"name":"debt_to_income", "value":' + str(debt_to_income) + '}, \
                    {"name":"ever_missed_obligation", "value":' + str(ever_missed_obligation) + '}, \
                    {"name":"gender", "value":' + str(gender) + '}, \
                    {"name":"homeowner", "value":' + str(homeowner) + '}, \
                    {"name":"id_current_fs_relationship", "value":"' + id_current_fs_relationship + '"}, \
                    {"name":"id_direct_contact", "value":"' + id_direct_contact + '"}, \
                    {"name":"id_important_activity", "value":"' + id_important_activity + '"}, \
                    {"name":"job_in_education", "value":' + str(job_in_education) + '}, \
                    {"name":"job_in_energy", "value":' + str(job_in_energy) + '}, \
                    {"name":"job_in_financial", "value":' + str(job_in_financial) + '}, \
                    {"name":"job_in_healthcare", "value":' + str(job_in_healthcare) + '}, \
                    {"name":"job_in_hospitality", "value":' + str(job_in_hospitality) + '}, \
                    {"name":"job_in_manufacturing", "value":' + str(job_in_manufacturing) + '}, \
                    {"name":"job_in_media", "value":' + str(job_in_media) + '}, \
                    {"name":"job_in_transport", "value":' + str(job_in_transport) + '}, \
                    {"name":"martial_status_divorced", "value":' + str(martial_status_divorced) + '}, \
                    {"name":"marital_status_married", "value":' + str(marital_status_married) + '}, \
                    {"name":"marital_status_single", "value":' + str(marital_status_single) + '}, \
                    {"name":"net_worth", "value":' + str(net_worth) + '}, \
                    {"name":"num_dependents", "value":' + str(num_dependents) + '}, \
                    {"name":"num_transactions", "value":' + str(num_transactions) + '}, \
                    {"name":"orig_age", "value":' + str(orig_age) + '}, \
                    {"name":"orig_amount", "value":' + str(orig_amount) + '}, \
                    {"name":"orig_credit_history_mos", "value":' + str(orig_credit_history_mos) + '}, \
                    {"name":"orig_credit_score", "value":' + str(orig_credit_score) + '}, \
                    {"name":"orig_debt_to_income", "value":' + str(orig_debt_to_income) + '}, \
                    {"name":"orig_net_worth", "value":' + str(orig_net_worth) + '}, \
                    {"name":"orig_num_transactions", "value":' + str(orig_num_transactions) + '}, \
                    {"name":"orig_years_at_residence", "value":' + str(orig_years_at_residence) + '}, \
                    {"name":"region_ca", "value":' + str(region_ca) + '}, \
                    {"name":"region_fl", "value":' + str(region_fl) + '}, \
                    {"name":"region_mw", "value":' + str(region_mw) + '}, \
                    {"name":"region_ne", "value":' + str(region_ne) + '}, \
                    {"name":"region_ny", "value":' + str(region_ny) + '}, \
                    {"name":"region_so", "value":' + str(region_so) + '}, \
                    {"name":"region_tx", "value":' + str(region_tx) + '}, \
                    {"name":"region_we", "value":' + str(region_we) + '},\
                    {"name":"smoker", "value":' + str(smoker) + '}, \
                    {"name":"uses_direct_deposit", "value":' + str(uses_direct_deposit) + '}, \
                    {"name":"years_at_residence", "value":' + str(years_at_residence) + '} \
                        ] \
            }'

    headers = {'Content-Type': 'application/json'}
    conn.request('POST', url, payload, headers)
    response = conn.getresponse()
    return_values = response.read()
    json_load = json.loads(return_values)
    json_data = json_load['outputs']
    return json_data

In [4]:
json_data = score_container(0.4235,1.5145,1,1,0,0,0,0,0,0,0,1,-1.9745,0.3043,-1.6773,0,0,1,"false","false","false",0,0,0,0,0,0,1,0,0,0,1,-0.7583,2,1.9319,49,325888,23,729,5,108135,74,26,0,0,1,0,0,0,0,0,0,0,1.8208)

df = pd.DataFrame.from_dict(pd.json_normalize(json_data), orient='columns')
df = df.reset_index(drop=True)
approveFlag = df.loc[df['name']=="ApproveFlag"]
declineFlag = df.loc[df['name']=="DeclineFlag"]
declineReason = df.loc[df['name']=="DeclineReason"]
loanDecision = df.loc[df['name']=="loan_decision"]

print ('')
print('*********************************************************************************************************')
print("Your loan decision is: " + str(loanDecision['value'].to_string(index=False)))
print("If denied, the reason for denial is: " + str(declineReason['value'].to_string(index=False)))
print('*********************************************************************************************************')

*********************************************************************************************************
Your loan decision is: deny
If denied, the reason for denial is: Your requested loan amount exceeds our maximum loan threshold
*********************************************************************************************************

In [ ]:
df

,name,value
0,business_owner,1.0
1,net_worth,-0.7583
2,orig_credit_score,729.0
3,region_ne,0.0
4,job_in_energy,0.0
5,marital_status_single,1.0
6,homeowner,1.0
7,num_transactions,1.9319
8,smoker,0.0
9,id_direct_contact,false
10,region_we,0.0
11,region_ny,0.0
12,DeclineReason,Your requested loan amount exceeds our maximum loan threshold
13,job_industry_char,None
14,_WARN_,None
15,region_fl,0.0
16,smoker_char,None
17,citizenship_africa,0.0
18,id_current_fs_relationship,false
19,orig_years_at_residence,26.0
20,orig_amount,325888.0
21,citizenship_middle_east,0.0
22,citizenship_china,0.0
23,orig_debt_to_income,5.0
24,orig_age,49.0
25,uses_direct_deposit,0.0
26,_P_,None
27,job_in_healthcare,0.0
28,job_in_manufacturing,0.0
29,num_dependents,2.0
30,job_in_hospitality,0.0
31,P_event_indicator1,None
32,credit_history_mos,-1.9745
33,gender_char,None
34,citizenship_other,0.0
35,P_event_indicator0,None
36,EM_CLASSIFICATION,None
37,region_mw,1.0
38,years_at_residence,1.8208
39,credit_score,0.3043
40,region_tx,0.0
41,job_in_media,1.0
42,gender,0.0
43,id_important_activity,false
44,marital_status_divorced,None
45,job_in_education,0.0
46,marital_status_married,0.0
47,EM_EVENTPROBABILITY,None
48,orig_num_transactions,74.0
49,citizenship_char,None
50,citizenship_eu,0.0
51,DeclineFlag,1.0
52,I_event_indicator,None
53,citizenship_latam,0.0
54,amount,1.5145
55,job_in_transport,0.0
56,region_char,None
57,region_ca,0.0
58,citizenship_us,1.0
59,orig_credit_history_mos,23.0
60,region_so,0.0
61,loan_decision,deny
62,event_indicator,None
63,ApproveFlag,None
64,citizenship_india,0.0
65,at_current_job_1_year,1.0
66,job_in_financial,0.0
67,MONTHLYINCOME,4159.038462
68,debt_to_income,-1.6773
69,marital_status_char,None
70,ever_missed_obligation,0.0
71,EM_PROBABILITY,None
72,orig_net_worth,108135.0
73,age,0.4235

:

In [99]:
###################################
###    Connect to Container     ###
###################################

# SCR listens on port 8080
# Use the containers fully qualified domain name (FQDN)
# Ensure the container instance is set up as 'public' (no credentials required)
# URL is the name of the container image to be used
# The container needs to be running when the code is executed
# Helpful video: https://communities.sas.com/t5/SAS-Communities-Library/How-to-Score-a-SAS-Decision-Published-to-Azure-with-SCR/ta-p/777629

conn = http.client.HTTPConnection("financialservicesdecision.eastus.azurecontainer.io:8080")
url = "/financial_services_decision"

In [ ]:
###################################
### Score Decision Individually ###
###################################

payload = json.dumps({
    "inputs":[
    {"name":"age","value":0.4235},
	{"name":"amount","value":1.5145},
	{"name":"at_current_job_1_year","value":1},
	{"name":"business_owner","value":1},
	{"name":"citizenship_africa","value":0},
	{"name":"citizenship_china","value":0},
	{"name":"citizenship_eu","value":0},
	{"name":"citizenship_india","value":0},
	{"name":"citizenship_latam","value":0},
	{"name":"citizenship_middle_east","value":0},
    {"name":"citizenship_other","value":0},
    {"name":"citizenship_us","value":1},
    {"name":"credit_history_mos","value":-1.9745},
    {"name":"credit_score","value":0.3043},
    {"name":"debt_to_income","value":-1.6773},
    {"name":"event_indicator","value":0},
    {"name":"ever_missed_obligation","value":0},
    {"name":"gender","value":0},
    {"name":"homeowner","value":1},
    {"name":"id_current_fs_relationship","value":"false"},
    {"name":"id_direct_contact","value":"false"},
    {"name":"id_important_activity","value":"false"},
    {"name":"job_in_education","value":0},
    {"name":"job_in_energy","value":0},
    {"name":"job_in_financial","value":0},
    {"name":"job_in_healthcare","value":0},
    {"name":"job_in_hospitality","value":0},
    {"name":"job_in_manufacturing","value":0},
    {"name":"job_in_media","value":1},
    {"name":"job_in_transport","value":0},
    {"name":"marital_status_divorced","value":0},
    {"name":"marital_status_married","value":0},
    {"name":"marital_status_single","value":1},
    {"name":"net_worth","value":-0.7583},
    {"name":"num_dependents","value":2},
    {"name":"num_transactions","value":1.9319},
    {"name":"orig_age","value":49},
    {"name":"orig_amount","value":325888},
    {"name":"orig_credit_history_mos","value":23},
    {"name":"orig_credit_score","value":729},
    {"name":"orig_debt_to_income","value":5},
    {"name":"orig_net_worth","value":108135},
    {"name":"orig_num_transactions","value":74},
    {"name":"orig_years_at_residence","value":26},
    {"name":"region_ca","value":0},
    {"name":"region_fl","value":0},
    {"name":"region_mw","value":1},
    {"name":"region_ne","value":0},
    {"name":"region_ny","value":0},
    {"name":"region_so","value":0},
    {"name":"region_tx","value":0},
    {"name":"region_we","value":0},
    {"name":"smoker","value":0},
    {"name":"uses_direct_deposit","value":0},
    {"name":"years_at_residence","value":1.8208}
    ]
    })

headers = {'Content-Type': 'application/json'}
conn.request('POST', url, payload, headers)
response = conn.getresponse()
return_values = response.read()
json_load = json.loads(return_values)
json_data = json_load['outputs']

In [101]:
df = pd.DataFrame.from_dict(pd.json_normalize(json_data), orient='columns')
df = df.reset_index(drop=True)
approveFlag = df.loc[df['name']=="ApproveFlag"]
declineFlag = df.loc[df['name']=="DeclineFlag"]
declineReason = df.loc[df['name']=="DeclineReason"]
loanDecision = df.loc[df['name']=="loan_decision"]

print ('')
print('*********************************************************************************************************')
print("Your loan decision is: " + str(loanDecision['value'].to_string(index=False)))
print("If denied, the reason for denial is: " + str(declineReason['value'].to_string(index=False)))
print('*********************************************************************************************************')

*********************************************************************************************************
Your loan decision is: deny
If denied, the reason for denial is: Your requested loan amount exceeds our maximum loan threshold
*********************************************************************************************************

In [102]:
###################################
###    Connect to Container     ###
###################################

# The container needs to be running when the code is executed
# SCR listens on port 8080
# Use the containers fully qualified domain name (FQDN)
# Ensure the container instance is set up as 'public' (no credentials required)
# URL is the name of the container image to be used
# Helpful video: https://communities.sas.com/t5/SAS-Communities-Library/How-to-Score-a-SAS-Decision-Published-to-Azure-with-SCR/ta-p/777629

conn = http.client.HTTPConnection("financialservicesdecision.eastus.azurecontainer.io:8080")
url = "/financial_services_decision"

In [ ]:
###############################
### Score Decision in Batch ###
###############################

import pandas as pd
import json

#filepath = input("file path to scoring data (csv): ")
input_data = pd.read_csv("C:/Users/chparr/OneDrive - SAS/git/sas_viya/python/scoring_api/financial_services_decision_input_data.csv")
payload = (input_data.to_json()) # (input_data.to_json()) 
payload

'{"age":{"0":0.423563741,"1":-0.300137532,"2":-0.563301632,"3":1.936757312,"4":-0.431719582,"5":1.673593212,"6":-1.023838805,"7":-0.629092657,"8":-0.431719582,"9":1.015682964,"10":2.002548337,"11":-0.300137532,"12":2.265712436,"13":0.752518865,"14":-0.168555483,"15":0.160399641},"amount":{"0":1.514555608,"1":-0.186858954,"2":-0.814234885,"3":1.96214863,"4":-0.704536228,"5":0.65738295,"6":1.836785948,"7":0.100509555,"8":-0.736873929,"9":0.239329452,"10":1.264133139,"11":-0.699033626,"12":-0.586277167,"13":-0.827807489,"14":-0.819888935,"15":-0.503968918},"at_current_job_1_year":{"0":1,"1":0,"2":0,"3":0,"4":0,"5":0,"6":0,"7":0,"8":0,"9":1,"10":1,"11":1,"12":1,"13":1,"14":1,"15":1},"business_owner":{"0":1,"1":0,"2":1,"3":1,"4":0,"5":1,"6":1,"7":1,"8":0,"9":1,"10":0,"11":1,"12":1,"13":0,"14":1,"15":0},"citizenship_africa":{"0":0,"1":0,"2":0,"3":0,"4":0,"5":0,"6":0,"7":0,"8":0,"9":0,"10":0,"11":1,"12":0,"13":0,"14":1,"15":0},"citizenship_china":{"0":0,"1":1,"2":0,"3":0,"4":0,"5":0,"6":0,"7":0,"8":0,"9":1,"10":0,"11":0,"12":0,"13":0,"14":0,"15":0},"citizenship_eu":{"0":0,"1":0,"2":0,"3":0,"4":0,"5":0,"6":0,"7":0,"8":0,"9":0,"10":0,"11":0,"12":0,"13":1,"14":0,"15":0},"citizenship_india":{"0":0,"1":0,"2":0,"3":1,"4":0,"5":0,"6":0,"7":0,"8":0,"9":0,"10":0,"11":0,"12":0,"13":0,"14":0,"15":0},"citizenship_latam":{"0":0,"1":0,"2":0,"3":0,"4":0,"5":0,"6":1,"7":0,"8":1,"9":0,"10":1,"11":0,"12":0,"13":0,"14":0,"15":0},"citizenship_middle_east":{"0":0,"1":0,"2":1,"3":0,"4":0,"5":1,"6":0,"7":0,"8":0,"9":0,"10":0,"11":0,"12":0,"13":0,"14":0,"15":0},"citizenship_other":{"0":0,"1":0,"2":0,"3":0,"4":0,"5":0,"6":0,"7":0,"8":0,"9":0,"10":0,"11":0,"12":1,"13":0,"14":0,"15":1},"citizenship_us":{"0":1,"1":0,"2":0,"3":0,"4":1,"5":0,"6":0,"7":1,"8":0,"9":0,"10":0,"11":0,"12":0,"13":0,"14":0,"15":0},"credit_history_mos":{"0":-1.974538936,"1":0.223752916,"2":0.630844,"3":0.630844,"4":1.160062409,"5":0.427298458,"6":-0.101919951,"7":-0.509011034,"8":-0.997520335,"9":0.468007567,"10":-0.834683901,"11":0.752971325,"12":0.427298458,"13":0.223752916,"14":1.119353301,"15":0.956516867},"credit_score":{"0":0.304349577,"1":-2.90526835,"2":0.331549729,"3":0.367816599,"4":0.123015231,"5":0.920886354,"6":0.340616447,"7":1.265421612,"8":-1.762861969,"9":0.467550489,"10":1.283555047,"11":1.23822146,"12":0.721418574,"13":0.830219181,"14":0.975286658,"15":1.283555047},"debt_to_income":{"0":-1.677311229,"1":-0.940547904,"2":0.790845909,"3":-0.351137244,"4":0.827684076,"5":0.054082584,"6":-0.314299078,"7":0.275111582,"8":-1.714149396,"9":-1.124738736,"10":2.043343562,"11":-0.609004408,"12":-0.019593748,"13":1.159227572,"14":0.643493244,"15":-0.461651743},"ever_missed_obligation":{"0":0,"1":1,"2":1,"3":1,"4":0,"5":0,"6":0,"7":0,"8":0,"9":0,"10":1,"11":1,"12":1,"13":1,"14":1,"15":0},"gender":{"0":0,"1":1,"2":0,"3":0,"4":1,"5":0,"6":0,"7":0,"8":1,"9":0,"10":1,"11":0,"12":0,"13":1,"14":1,"15":0},"homeowner":{"0":1,"1":1,"2":0,"3":1,"4":1,"5":1,"6":0,"7":0,"8":1,"9":0,"10":0,"11":0,"12":0,"13":1,"14":1,"15":0},"id_current_fs_relationship":{"0":false,"1":false,"2":false,"3":false,"4":true,"5":false,"6":false,"7":false,"8":true,"9":true,"10":true,"11":true,"12":false,"13":true,"14":false,"15":false},"id_direct_contact":{"0":false,"1":false,"2":false,"3":false,"4":false,"5":true,"6":false,"7":false,"8":false,"9":false,"10":false,"11":false,"12":false,"13":false,"14":false,"15":false},"id_important_activity":{"0":false,"1":false,"2":false,"3":false,"4":false,"5":false,"6":false,"7":false,"8":false,"9":false,"10":false,"11":false,"12":true,"13":false,"14":false,"15":false},"job_in_education":{"0":0,"1":1,"2":0,"3":0,"4":0,"5":0,"6":0,"7":0,"8":0,"9":0,"10":0,"11":0,"12":0,"13":0,"14":0,"15":0},"job_in_energy":{"0":0,"1":0,"2":0,"3":0,"4":0,"5":0,"6":0,"7":0,"8":1,"9":0,"10":0,"11":1,"12":0,"13":0,"14":0,"15":0},"job_in_financial":{"0":0,"1":0,"2":0,"3":0,"4":0,"5":0,"6":0,"7":0,"8":0,"9":0,"10":0,"11":0,"12":0,"13":0,"14":1,"15":0},"job_in_healthcare":{"0":0,"1":0,"2":0,"3":0,"4":0,"5":0,"6":0,"7":0,"8":0,"9":0,"10":0,"11":0,"12":0,"13":0,"14":0,"15":0},"job_in_hospitality":{"0":0,"1":0,"2":0,"3":1,"4":1,"5":1,"6":0,"7":0,"8":0,"9":1,"10":0,"11":0,"12":0,"13":1,"14":0,"15":0},"job_in_manufacturing":{"0":0,"1":0,"2":1,"3":0,"4":0,"5":0,"6":0,"7":0,"8":0,"9":0,"10":1,"11":0,"12":0,"13":0,"14":0,"15":0},"job_in_media":{"0":1,"1":0,"2":0,"3":0,"4":0,"5":0,"6":1,"7":0,"8":0,"9":0,"10":0,"11":0,"12":1,"13":0,"14":0,"15":1},"job_in_transport":{"0":0,"1":0,"2":0,"3":0,"4":0,"5":0,"6":0,"7":1,"8":0,"9":0,"10":0,"11":0,"12":0,"13":0,"14":0,"15":0},"marital_status_divorced":{"0":0,"1":1,"2":0,"3":0,"4":0,"5":0,"6":0,"7":0,"8":0,"9":0,"10":0,"11":1,"12":0,"13":0,"14":0,"15":1},"marital_status_married":{"0":0,"1":0,"2":1,"3":1,"4":1,"5":1,"6":1,"7":1,"8":1,"9":0,"10":1,"11":0,"12":1,"13":1,"14":1,"15":0},"marital_status_single":{"0":1,"1":0,"2":0,"3":0,"4":0,"5":0,"6":0,"7":0,"8":0,"9":1,"10":0,"11":0,"12":0,"13":0,"14":0,"15":0},"net_worth":{"0":-0.75833559,"1":-0.640349538,"2":-0.705389397,"3":-0.717356687,"4":-0.287385908,"5":-0.62586571,"6":-0.388096864,"7":0.091968399,"8":0.691234025,"9":-0.067128427,"10":-0.806660804,"11":-0.525198711,"12":-0.321820714,"13":-0.181372641,"14":-0.172191125,"15":0.611281757},"num_dependents":{"0":2,"1":5,"2":3,"3":0,"4":1,"5":1,"6":5,"7":2,"8":2,"9":3,"10":1,"11":7,"12":5,"13":4,"14":1,"15":5},"num_transactions":{"0":1.931970084,"1":-1.366157077,"2":-0.199127466,"3":-0.249867884,"4":0.156055459,"5":0.409757548,"6":0.663459638,"7":-0.199127466,"8":-0.148387048,"9":-1.010974152,"10":-1.619859166,"11":0.815680891,"12":1.830489248,"13":1.32308507,"14":0.511238384,"15":-1.315416659},"orig_age":{"0":49,"1":38,"2":34,"3":72,"4":36,"5":68,"6":27,"7":33,"8":36,"9":58,"10":73,"11":38,"12":77,"13":54,"14":40,"15":45},"orig_amount":{"0":325888,"1":89967,"2":2974,"3":387952,"4":18185,"5":207031,"6":370569,"7":129814,"8":13701,"9":149063,"10":291164,"11":18948,"12":34583,"13":1092,"14":2190,"15":45996},"orig_credit_history_mos":{"0":23,"1":77,"2":87,"3":87,"4":100,"5":82,"6":69,"7":59,"8":47,"9":83,"10":51,"11":90,"12":82,"13":77,"14":99,"15":95},"orig_credit_score":{"0":729,"1":375,"2":732,"3":736,"4":709,"5":797,"6":733,"7":835,"8":501,"9":747,"10":837,"11":832,"12":775,"13":787,"14":803,"15":837},"orig_debt_to_income":{"0":5,"1":25,"2":72,"3":41,"4":73,"5":52,"6":42,"7":58,"8":4,"9":20,"10":106,"11":34,"12":50,"13":82,"14":68,"15":38},"orig_net_worth":{"0":108135,"1":129608,"2":117771,"3":115593,"4":193846,"5":132244,"6":175517,"7":262887,"8":371951,"9":233932,"10":99340,"11":150565,"12":187579,"13":213140,"14":214811,"15":357400},"orig_num_transactions":{"0":74,"1":9,"2":32,"3":31,"4":39,"5":44,"6":49,"7":32,"8":33,"9":16,"10":4,"11":52,"12":72,"13":62,"14":46,"15":10},"orig_years_at_residence":{"0":26,"1":1,"2":1,"3":26,"4":27,"5":1,"6":1,"7":1,"8":5,"9":1,"10":19,"11":15,"12":30,"13":2,"14":7,"15":1},"region_ca":{"0":0,"1":0,"2":0,"3":0,"4":0,"5":0,"6":0,"7":0,"8":0,"9":0,"10":1,"11":0,"12":0,"13":0,"14":1,"15":0},"region_fl":{"0":0,"1":0,"2":0,"3":0,"4":0,"5":0,"6":1,"7":0,"8":1,"9":0,"10":0,"11":0,"12":0,"13":0,"14":0,"15":0},"region_mw":{"0":1,"1":0,"2":0,"3":1,"4":0,"5":0,"6":0,"7":0,"8":0,"9":0,"10":0,"11":0,"12":0,"13":0,"14":0,"15":0},"region_ne":{"0":0,"1":1,"2":0,"3":0,"4":1,"5":0,"6":0,"7":0,"8":0,"9":0,"10":0,"11":0,"12":0,"13":1,"14":0,"15":1},"region_ny":{"0":0,"1":0,"2":0,"3":0,"4":0,"5":1,"6":0,"7":0,"8":0,"9":0,"10":0,"11":0,"12":0,"13":0,"14":0,"15":0},"region_so":{"0":0,"1":0,"2":1,"3":0,"4":0,"5":0,"6":0,"7":0,"8":0,"9":0,"10":0,"11":0,"12":1,"13":0,"14":0,"15":0},"region_tx":{"0":0,"1":0,"2":0,"3":0,"4":0,"5":0,"6":0,"7":0,"8":0,"9":0,"10":0,"11":1,"12":0,"13":0,"14":0,"15":0},"region_we":{"0":0,"1":0,"2":0,"3":0,"4":0,"5":0,"6":0,"7":1,"8":0,"9":1,"10":0,"11":0,"12":0,"13":0,"14":0,"15":0},"smoker":{"0":0,"1":1,"2":0,"3":0,"4":0,"5":0,"6":0,"7":0,"8":1,"9":1,"10":0,"11":0,"12":0,"13":0,"14":0,"15":0},"uses_direct_deposit":{"0":0,"1":0,"2":1,"3":0,"4":0,"5":0,"6":1,"7":0,"8":0,"9":0,"10":1,"11":0,"12":0,"13":1,"14":0,"15":0},"years_at_residence":{"0":1.82082961,"1":-0.665928171,"2":-0.665928171,"3":1.82082961,"4":1.920299921,"5":-0.665928171,"6":-0.665928171,"7":-0.665928171,"8":-0.268046926,"9":-0.665928171,"10":1.124537431,"11":0.726656186,"12":2.218710855,"13":-0.56645786,"14":-0.069106304,"15":-0.665928171}}'

Note: this is only scoring one record in the payload and need to investigate further    
https://communities.sas.com/t5/SAS-Communities-Library/Score-Millions-of-Records-in-Minutes-Using-Python-Models-Python/ta-p/896761

In [21]:
headers = {'Content-Type': 'application/json', 
               'Content-Type': 'application/json'}
conn.request('POST', url, payload, headers)
response = conn.getresponse()
return_values = response.read()
json_load = json.loads(return_values)
json_data = json_load['data']
new_container_results = pd.DataFrame(json_load)
return_values

b'{"metadata":{"module_id":"financial_services_decision","elapsed_nanos":1447411,"step_id":"execute","timestamp":"2025-09-23T20:26:10.565937539Z"},"data":{"business_owner":null,"net_worth":null,"orig_credit_score":null,"region_ne":null,"job_in_energy":null,"marital_status_single":null,"homeowner":null,"num_transactions":null,"smoker":null,"id_direct_contact":null,"region_we":null,"region_ny":null,"DeclineReason":"Your credit score is below the minimum threshold","job_industry_char":null,"_WARN_":null,"region_fl":null,"smoker_char":null,"citizenship_africa":null,"id_current_fs_relationship":null,"orig_years_at_residence":null,"orig_amount":null,"citizenship_middle_east":null,"citizenship_china":null,"orig_debt_to_income":null,"orig_age":null,"uses_direct_deposit":null,"_P_":null,"job_in_healthcare":null,"job_in_manufacturing":null,"num_dependents":null,"job_in_hospitality":null,"P_event_indicator1":null,"credit_history_mos":null,"gender_char":null,"citizenship_other":null,"P_event_indicator0":null,"EM_CLASSIFICATION":null,"region_mw":null,"years_at_residence":null,"credit_score":null,"region_tx":null,"job_in_media":null,"gender":null,"id_important_activity":null,"marital_status_divorced":null,"job_in_education":null,"marital_status_married":null,"EM_EVENTPROBABILITY":null,"orig_num_transactions":null,"citizenship_char":null,"citizenship_eu":null,"DeclineFlag":1.0,"I_event_indicator":null,"citizenship_latam":null,"amount":null,"job_in_transport":null,"region_char":null,"region_ca":null,"citizenship_us":null,"orig_credit_history_mos":null,"region_so":null,"loan_decision":"deny","event_indicator":null,"ApproveFlag":null,"citizenship_india":null,"at_current_job_1_year":null,"job_in_financial":null,"MONTHLYINCOME":null,"debt_to_income":null,"marital_status_char":null,"ever_missed_obligation":null,"EM_PROBABILITY":null,"orig_net_worth":null,"age":null},"version":1}'

In [ ]:
df = pd.DataFrame.from_dict(pd.json_normalize(json_data), orient='columns')
df = df.reset_index(drop=True)
approveFlag = df.loc[:,'ApproveFlag']
declineFlag = df.loc[:,'DeclineFlag']
declineReason = df.loc[:,'DeclineReason']
loanDecision = df.loc[:,'loan_decision']
# approveFlag = df.loc[df['name']=="ApproveFlag"]
# declineFlag = df.loc[df['name']=="DeclineFlag"]
# declineReason = df.loc[df['name']=="DeclineReason"]
# loanDecision = df.loc[df['name']=="loan_decision"]

print ('')
print('*********************************************************************************************************')
print("Your loan decision is: " + str(loanDecision.to_string(index=False)))
print("If denied, the reason for denial is: " + str(declineReason.to_string(index=False)))
print('*********************************************************************************************************')

*********************************************************************************************************
Your loan decision is: deny
If denied, the reason for denial is: Your credit score is below the minimum threshold
*********************************************************************************************************